.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 72px;
}

.header__container article {
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.header__container article h1 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1.6rem;
  color: var(--txt-black);
}

.header__container article a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--txt-white);
  padding-block: 0.4rem;
  padding-inline: 3rem;
  background-color: var(--dark-brown);
}

.carousel__container {
  width: 100%;
  height: 400px;
  padding: 1rem;
}

.carousel__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (width > 768px) {
  .header__container {
    justify-content: start;
    flex-direction: row;
    height: calc(100dvh + 72px);
    padding-top: 0;
  }

  .header__container article {
    width: 60%;
    text-align: left;
  }

  .header__container article h1 {
    font-size: 4rem;
  }

  .header__container article a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--txt-white);
    padding-block: 0.4rem;
    padding-inline: 3rem;
    background-color: var(--dark-brown);
  }

  .carousel__container {
    padding: 2rem;
    width: 100%;
    height: 100dvh;
    border-radius: 5px;
  }
}
