.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 72px;
  padding-bottom: 2rem;
  background-color: var(--light-brown);
}

.header__container article {
  display: grid;
  place-items: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
  padding-bottom: 2rem;
}

.header__container article img {
  width: 150px;
}

.header__container article span {
  font-weight: 400;
  font-size: 2rem;
  color: var(--txt-white);
  text-shadow: 2px 2px 15px var(--dark-brown);
}

.header__container article h1 {
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 2px 2px 15px var(--dark-brown);
  margin-bottom: 1.6rem;
  color: var(--txt-white);
  text-decoration: underline;
}

.header__container article a {
  font-size: 1rem;
  text-decoration: none;
  color: var(--txt-white);
  padding-block: 0.4rem;
  padding-inline: 3rem;
  background-color: var(--dark-brown);
  cursor: pointer;
}

.carousel__container {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.carousel__container img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media (width > 768px) {
  .header__container {
    justify-content: start;
    flex-direction: row;
    height: calc(100dvh + 72px);
    padding-top: 0;
    padding-inline: 2rem;
  }

  .header__container article {
    width: 50%;
    text-align: left;
  }

  .header__container article h1 {
    font-size: 5rem;
  }

  .header__container article a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--txt-white);
    padding-block: 0.4rem;
    padding-inline: 3rem;
    background-color: var(--dark-brown);
  }

  .carousel__container {
    width: 50%;
    height: 70%;
    border-radius: 5px;
  }
}
