.order-form__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.order-form__container.open-form {
  visibility: visible;
  opacity: 1;
}

.order-form__inner {
  width: 500px;
  height: 500px;
  border-radius: 5px;
  background-color: var(--white);
  padding: 2rem;
}

.order-form__inner form {
  display: grid;
  gap: 2rem;
  margin-top: 2rem;
}

.form-btn-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.order-form__inner form .btn-form {
  font-size: 1.5rem;
  background-color: var(--main-bg-color);
  color: var(--txt-white);
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}
