.quote__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
  background-color: var(--black);
}

.quote__container blockquote {
  position: relative;
  padding: 3rem;
  color: var(--txt-white);
}

.quote__container blockquote p {
  text-align: center;
  font-size: 1rem;
}

.quote__container blockquote p::after {
  content: "“";
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 3rem;
}

.quote__container blockquote p::before {
  content: "“";
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 3rem;
}

@media (width > 768px) {
  .quote__container {
    padding: 2rem 5rem;
  }

  .quote__container blockquote p {
    font-size: 3rem;
  }

  .quote__container blockquote p::after {
    top: 2rem;
    left: 1rem;
    font-size: 5rem;
  }

  .quote__container blockquote p::before {
    top: 2rem;
    right: 1rem;
    font-size: 5rem;
  }
}
