.quote__container {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 5rem;
  background-color: var(--black);
}

.quote__container blockquote {
  position: relative;
  padding: 3rem;
  color: var(--txt-white);
}

.quote__container blockquote p {
  text-align: center;
  font-size: 3rem;
}

.quote__container blockquote p::after {
  content: "“";
  position: absolute;
  top: 0;
  left: 0;
  font-size: 9rem;
}

.quote__container blockquote p::before {
  content: "“";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9rem;
}
