@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  /* Background Colors */
  --main-bg-color: #2b1c12;

  /* Main Colors */
  --white: #f3f3f3;
  --black: #222;
  --brown: #964b00;
  --light-brown: #c4a484;
  --dark-brown: #654321;
  --light-orange-gray: #ede0d4;

  /* Text Colors */
  --txt-white: #dddddd;
  --txt-black: #222;
  --txt-brown: #964b00;
  --txt-light-brown: #c4a484;
  --txt-dark-brown: #654321;
  --txt-light-orange-gray: #ede0d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  overflow-y: scroll;
}
